body {
  font-family: 'Helvetica Neue', sans-serif;
  color: #eee;
  background: #111;

  margin: 0;
  padding: 0;
}

.track {
  margin: 1em;
}

.track img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -10;
}

.track * {
  margin: 0;
}

.track .title {
  font-size: 5em;
  font-weight: normal;
}

.track .artist {
  font-size: 2.5em;
  font-weight: normal;
}